@font-face {
    font-family: 'fuente';
    src: url('recursos/utendo/Utendo-Light.ttf');
    /* Puedes agregar otros formatos de fuente si los tienes disponibles */
}
    
*{
    font-family: "fuente";
}
body{
    background-image: url('recursos/plazagaraje2.jpg');
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-repeat: no-repeat;
    
}

.container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url(recursos/istockphoto-1473881854-640x640.jpg);
        background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-repeat: no-repeat;

        /* background-color: white; */
        border-radius: 10px;
        border-color: aqua;
        border: 2px solid rgb(217, 153, 57);
}

#registro {
    padding: 10px;
}

.form-group{
    padding-top: 10px;
}

.row{
    padding: 10px;
}

.btn{
    background-color: rgb(217, 153, 57);
    border: 2px solid rgb(217, 153, 57);
}
/* p{
    color:rgb(219, 152, 28);
} */

h2 {
    color:rgb(217, 153, 57);
}

.alert {
    background-color: rgb(217, 153, 57);
    border: 2px solid rgb(217, 153, 57);
    color: white;
}