@font-face {
    font-family: 'fuente';
    src: url('recursos/GistLight.otf');
    /* Puedes agregar otros formatos de fuente si los tienes disponibles */
}

*{
    
}
body{
    background-image: url('recursos/plazagaraje2.jpg');
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-repeat: no-repeat;
}

.container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url(recursos/istockphoto-1473881854-640x640.jpg);

        /* background-color: white; */
        border-radius: 10px;
}

#registro {
    padding: 10px;
}

.form-group{
    padding-top: 10px;
}

.row{
    padding: 10px;
}