@font-face {
    font-family: 'fuente';
    src: url('recursos/GistLight.otf');
    /* Puedes agregar otros formatos de fuente si los tienes disponibles */
}

*{
    
}
body{
    background-image: url('recursos/plazagaraje2.jpg');
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-repeat: no-repeat;
}

.container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        background-color: white;
        border-radius: 10px;
}